body {
  margin:0;
  padding:0;
  background-color: #181a1b;
  color:white;
}

header, footer {
  font-family: "Orbitron";
}

header {
  display: flex;
  padding: 15px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  color:white;
}

.navigation-bar {
  background-color: #FCF9F9;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
}

.nav-links {
  display: flex;
  padding:0px;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-family: "Inria Sans";
  font-size: large;
}

.nav-links li {
  color:black;
  justify-content: space-evenly;
}

h1 {
  display:block;
}

.story-chapter-parent-container {
  width:400px;
  height:600px;
  overflow-y: scroll;
  scrollbar-width: 20px; /* auto | thin | none */
  scrollbar-color: #787373 #574d4d;
}

.story-chapter-parent-container::-webkit-scrollbar {
  width:12px;
}

.story-chapter-parent-container::-webkit-thumb {
  background: #888;
}

.story-chapter-parent-container::-webkit-track {
  background: #333;
}

.story-chapters {
  padding:10px;
}

.story-chapter-banner {
  width: 350px;
  height:100px;
  margin:10px;
  transition: 0.2s;
}

.story-chapter-banner:hover {
  scale:1.1;
}

.filters {
  display:flex;
  justify-content: center;
  gap:20px;
  margin:20px;
  flex-wrap: wrap;
}

.filter-class {
  font-family: "Orbitron";
  font-weight: 500;
  text-align: center;
  border: none;
  background-color: black;
  color:white;
  padding:5px;
}

.search-function {
  display:flex;
  justify-content: center;
  margin:20px 0px 20px 0px;
}

.search-function input {
  width:300px;
  height:30px;
  border-radius: 0%;
  border:1px solid rgba(0, 0, 0, 0.4);
  font-size: medium;
}

.search-function button {
  border: none;
  width:80px;
  background-color: purple;
  color:white;
  transition: 0.2s;
}

.search-function button:hover {
  background-color: rgb(53, 53, 209);
  cursor: pointer;
}

.search-container {
  display:flex;
  flex-direction: column;
  font-size: medium;
  color:white;
}

.search-container input {
  font-family: "Inria Sans";
  padding:2px;
}

.search-results {
  list-style: none;
  display:flex;
  flex-direction: column;
  gap:5px;
  justify-content: start;
  padding:3px;
}

.search-results li {
  font-family: "inria Sans";
  padding:4px;
  border-bottom: 1px solid white;
  border-left:1px solid white;
}

.search-results li:hover {
  background-color: grey;
  cursor: pointer;
}

.loading-screen {
  font-family: "Orbitron";
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.servant-h1 {
  font-size: 50px;
  color:white;
  padding:10px;
}

@media screen and (width < 700px) {
  .servant-h1 {
    text-align: center;
  }
}

.servant-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap:25px;
}

.img-container {
  position: relative;
}

.next-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top:50%;
  left:90%;
  cursor: pointer;
}

.prev-btn {
  background-color: transparent;
  border:none;
  position: absolute;
  top:50%;
  right:90%;
  cursor: pointer;
}

.servant-profile {
  display: inline-flex;
  border:1px solid black;
  padding:10px;
  margin:10px;
  gap:20px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.table-heading {
  font-family: "Orbitron";
  font-size: larger;
  font-weight: 700;
  color:white;
  text-align: center;
}

.first-col {
  background-color: #1c1f20;
  color: white;
  font-family: "Inria Sans";
  font-weight: 700;
  text-align: start;
  padding:10px;
  border:1px solid #7d7467;
}

.second-col {
  background-color: #181a1b;
  color:white;
  font-family: "Roboto";
  text-align: center;
  padding:10px;
  border:1px solid #7d7467;
  line-height: 1cm;
}

.second-col a {
  color:white;
}

.skill-table {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin:100px;
}

.skill-img-name {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding-top:10px;
}

.skill-img-name img {
  width:28px;
  height:28px;
}

.skill-values {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
}

.appendVal {
  border: 1px solid grey;
  padding: 5px;
}

.table-bottom {
  margin-bottom: 5px;
}

.table-render-btn {
  background-image: linear-gradient(to top left, white 30%, lightgrey 50%);
  width:100%;
  padding:10px;
  margin-bottom:10px;
  color: rgb(3, 123, 123);
  border: 4px solid rgb(168, 6, 168);
  border-radius: 10px;
  font-family: "Roboto";
  font-size: large;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.table-render-btn:hover {
  scale:1.1;
}

.table-render-btn:active {
  background-image: linear-gradient(to top right, lightgrey 30%, white 50%);
}

.passive-container {
  width:50%;
}

.append-table {
  display:flex;
  justify-content: center;
}

.passive-table {
  display:flex;
  justify-content: center;
}

.trait-container {
  margin:30px;
}

.trait-title {
  font-family: "Roboto";
  margin-left:10px;
  margin-top:40px;
  margin-bottom:30px;
}

.traits {
  font-family: "Roboto";
  margin:0px 0px 10px 10px;
}

.traits a {
  color:white;
}

.materials {
  font-family: "Mona Sans";
}

.material-title {
  font-family:"Roboto"
}

.material-container {
  margin:10px;
  text-align: center;
}

.material-table {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.material-first-col {
  display:flex;
  background-color: #1c1f20;
  color: white;
  font-family: "Inria Sans";
  font-weight: 700;
  text-align: start;
  padding:10px;
  border:1px solid #7d7467;
}

.material-img {
  width:60px;
  height:60px;
  margin:5px;
}

.traits-and-bond {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bond-levels {
  display:flex;
  justify-content: center;
}

.bond-table {
  table-layout: fixed;
}

.bond-table-cell {
  width:80px;
  text-align: center;
  word-break:break-all;
  overflow-wrap:break-word;
  background-color: #3d4142;
  color: white;
  font-family: "Inria Sans";
  font-weight: 700;
  border:1px solid #7d7467;
  padding:5px;
}

.bond-table-cell-values {
  width:80px;
  text-align: center;
  word-break:break-all;
  overflow-wrap:break-word;
  background-color: #1c1f20;
  color: white;
  font-family: "Roboto";
  border:1px solid #7d7467;
  padding:10px;
}

.bond-cell-detail {
  text-align: center;
  word-break:break-all;
  overflow-wrap:break-word;
  background-color: #1c1f20;
  color: white;
  font-family: "Inria Sans";
  border:1px solid #7d7467;
  padding:20px;
}

.bond-img {
  width: 90px;
  height:90px;
  padding:10px;
}

.servant-voices-table {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin:20px;
}

.servant-v-t {
  width:100%;
}

.voice-first-col {
  background-color: #06607e;
  color: white;
  font-family: "Inria Sans";
  font-weight: 700;
  text-align: start;
  padding:10px;
  border:1px solid #7d7467;
}

.voice-row {
  display: flex;
  flex-direction: column;
  padding:5px;
  margin-bottom:10px;
  border:1px solid grey;
}

.voice-row a {
  color:white;
}

.voice-td {
  padding:5px;
}

.stat-table {
  display:flex;
  justify-content: center;
  width:100%;
  max-width: 100%;
}

.stat-table > table {
  width:50%;
}

.stats-first-col {
  background-color: #1c1f20;
  color: white;
  font-family: "Inria Sans";
  font-weight: 700;
  text-align: center;
  padding:10px 20px 10px 20px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.stats-second-col {
  background-color: #1d1d21;
  color:white;
  font-family: "Roboto";
  text-align: center;
  line-height: 1cm;
  padding:10px 20px 10px 20px;
}

.servant-coin-table {
  margin:10px;
}

.coin-cost-tab {
  display:grid;
  grid-template-columns: auto auto;
}

.story-images {
  max-width: 100%;
  height:auto;
}

.asset-btns {
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  width:100%;
  text-align: start;
  background-color:purple;
  font-family:"Roboto";
  color:white;
  padding:5px;
  border:1px solid rgb(114, 179, 179);
  cursor:pointer;
}

.asset-btns:hover {
  background-color: rgb(184, 29, 184);
}

.asset-btns:active {
  background-color: black;
  border:2px solid blueviolet;
}

.comments {
  margin:60px;
  box-sizing: border-box;
}

.comment-first-col {
  background-color: #07607e;
  color: white;
  font-family: "Inria Sans";
  font-weight: 700;
  text-align: start;
  padding:10px;
  border:1px solid #ccc8c3;
}

.comment-second-col {
  background-color: #1c1f20;
  color: white;
  font-family: "Inria Sans";
  text-align: start;
  padding:20px;
  border:1px solid #7d7467;
}

.BGM {
  width:50%;
  padding:10px;
  margin:10px;
  border:none;
  background-color: black;
  color:white;
  font-family: "Orbitron";
  font-weight: 500;
  font-size: large;
}

.audio-player {
  display: flex;
  padding:10px;
  margin:10px;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  gap: 10px;
}

.audio-player button {
  border:none;
  background-color: transparent;
  font-size: large;
}

.search-bgm {
  display: flex;
  padding: 10px;
}

.search-bgm button {
  border: none;
  background-color: purple;
  color:white;
  padding:5px;
  cursor: pointer;
}

.search-bgm button:active {
  background-color: darkblue;
}

.other {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin: 10px;
}

.other-options {
  background-image: linear-gradient(to top left, white 30%, lightgrey 90%);
  margin-bottom:20px;
  padding:20px;
  border: 4px solid black;
  border-radius: 10px;
  font-family: "Roboto";
  font-size: large;
  font-weight: 500;
  cursor: pointer;
}