body {
  margin:0;
  padding:0;
}

header, footer {
  font-family: "Orbitron";
}

header {
  display: flex;
  padding: 15px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
}

.navigation-bar {
  background-color: #FCF9F9;
  padding: 1px;
  margin:10px 15px 10px 15px;
  border-radius: 15px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
}

.nav-links {
  display: flex;
  padding:0px;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-family: "Inria Sans";
  font-size: large;
}

.nav-links li {
  color:black;
  opacity: 0.7;
  justify-content: space-evenly;
}

h1 {
  display:block;
}

.filters {
  display:flex;
  justify-content: center;
  gap:20px;
  margin:20px;
  flex-wrap: wrap;
}

.filter-class {
  font-family: "Orbitron";
  font-weight: 500;
  text-align: center;
  border: none;
  background-color: black;
  color:white;
  padding:5px;
}

.search-function {
  display:flex;
  justify-content: center;
  margin:20px 0px 20px 0px;
}

.search-function input {
  width:300px;
  height:30px;
  border-radius: 0%;
  border:1px solid rgba(0, 0, 0, 0.4);
  font-size: medium;
}

.search-function button {
  border: none;
  width:80px;
  background-color: purple;
  color:white;
  transition: 0.2s;
}

.search-function button:hover {
  background-color: rgb(53, 53, 209);
  cursor: pointer;
}

.search-container {
  display:flex;
  flex-direction: column;
  font-size: medium;
}

.search-container input {
  font-family: "Inria Sans";
  padding:2px;
}

.search-results {
  list-style: none;
  display:flex;
  flex-direction: column;
  gap:5px;
  justify-content: start;
  padding:3px;
}

.search-results li {
  font-family: "inria Sans";
  padding:4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-left:1px solid rgba(0, 0, 0, 0.4);
}

.search-results li:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.grand-container {
  display: flex;
  justify-content: center;
  gap:20px;
  flex-wrap: wrap;
}

.servant-h1 {
  font-size: 50px;
  padding:10px;
}

@media screen and (width < 700px) {
  .servant-h1 {
    text-align: center;
  }
}

.grand-container p {
  text-align: center;
  font-family: "Inria Sans";
  font-size: large;
}

.servant-img {
  width:300px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

.servant-profile {
  display: inline-flex;
  border:1px solid black;
  padding:10px;
  margin:10px;
  gap:20px;
  flex-direction: column;
  text-align: center;
  align-items: start;
}

.table-heading {
  font-family: "Orbitron";
  font-size: larger;
  font-weight: 700;
}

.first-col {
  background-color: aliceblue;
  font-family: "Inria Sans";
  font-weight: 700;
  text-align: start;
  padding:10px;
  border:1px solid black;
}

.second-col {
  background-color: white;
  font-family: "Roboto";
  text-align: center;
  padding:10px;
  border:1px solid black;
}

.second-col {
  text-size-adjust: initial;
}

.skill-table {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin:10px;
}